
body {
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Cart Styles */
.cart-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.cart-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cart-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-left: auto;
}

.cart-item h5 {
  font-size: 1.2rem;
  margin:10px 0;
  color: rgb(7, 7, 7);
 font-weight: bold;
}

.cart-item p {
  font-size: 1rem;
  color: #a51919;
  font-weight: bold;
}

.cart-item .btn {
  margin-top: 10px;
  
}

.cart-item .btn-danger {
  display: flex;
  align-items: center;
 
}

.cart-item .btn-danger svg {
  margin-right: 5px;
  color: #2d2c2c;
}

/* Cart Summary */
.total-price {
  font-size: 3rem;
  font-weight: bold;
  color: #ff9900;
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.proceed-button {
  margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .cart-item {
    padding: 15px;
  }
  
  .cart-item h5 {
    font-size: 1rem;
  }
  
  .cart-item p {
    font-size: 0.9rem;
  }
  
  .total-price {
    font-size: 2rem;
  }
}
.Empty{
  margin: 2rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;

}