/* src/styles/global.css */
@import "bootstrap/dist/css/bootstrap.min.css";

/* General styles */
*{
  user-select: none;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
h1 {
    color: #333;
  }
  

.main-content {
  margin-top: 56px; /* Adjust this based on the height of the Navbar */
  padding-bottom: 60px; /* Adjust this based on the height of the Footer */
}

/* src/styles/global.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  overflow: auto; /* Allows scrolling */
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
/* Adjust spacing to accommodate the navbar and footer */
.main-content {
  margin-top: 60px; /* Adjust based on your navbar height */
  margin-bottom: 60px; /* Adjust based on your footer height */
}
/* Hide scrollbar but allow scrolling */
html, body {
  overflow: -moz-scrollbars-none; /* For Firefox */
  -ms-overflow-style: none;       /* For Internet Explorer and Edge */
  scrollbar-width: none;          /* For Firefox */
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
